.par {
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #394263;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-left: 30px;
}
.navbar {
  background-color: #394263;
  height: 600px;
  width: 15%;
  display: flex;
  position: sticky;
  margin-top: 0%;
  margin-left: 30px;
}
.navbar-container {
  color: white;
  font-weight: bold;
  margin-left: 20px;

}
.row {
  margin-left: 1000px;
  padding: 1px 16px;
  height: 1000px;
}
.grid-container {
  display: grid;
  margin-top: 0%;
  width: 100%;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "sidenav header"
    "sidenav main";

  height: 100vh;
  margin-top: 0%;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #648ca6;
  width: 800x;
}

.sidenav {
  grid-area: sidenav;
  background-color: #394263;
  height: 600px;
  width: 15%;
  display: flex;
  position: sticky;
  margin-top: 0%;
  
}

.main {
  grid-area: main;
  background-color: #8fd4d9;
  margin-top: 50px;
  
}
