.App {
  text-align: center;
}

.reg {
  text-align: center;
  margin-left: 200px;
}
.input {
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
  width: 250px;
  margin-right: 40px;
  font-weight: bold;
  background-color: palevioletred;

}
.btn-s {
  margin-top: 30px;
  align-items: center;
  position: relative;
  margin-left: 1000px;
}

.t {
  margin-left: 250px;
}


